body {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #ffed4f -50%, #000000 74%);
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: dimgrey;
}

li {
  list-style: none;
  padding: 0.5em 0.5em;
}

li:hover {
  opacity: 70%;
  color: green;
}
